<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/base.xml"/>

    <property name="LOGS_DIR" value="./logs"/>

    <!-- Appender für alle Informationen -->
    <appender name="INFO_LOG" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOGS_DIR}/info.log</file>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOGS_DIR}/info-%d{yyyy-MM-dd}.log.gz</fileNamePattern>
            <maxHistory>100</maxHistory>
        </rollingPolicy>
    </appender>

    <!-- Appender für Warnungen und Fehlermeldungen -->
    <appender name="WARN_ERROR_LOG" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOGS_DIR}/warn_error.log</file>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOGS_DIR}/warn_error-%d{yyyy-MM-dd}.log.gz</fileNamePattern>
            <maxHistory>100</maxHistory>
        </rollingPolicy>
    </appender>

    <root level="INFO">
        <appender-ref ref="INFO_LOG"/>
    </root>

    <logger name="at.qe.skeleton" level="INFO" additivity="false">
        <appender-ref ref="INFO_LOG"/>
    </logger>

    <logger name="at.qe.skeleton" level="WARN" additivity="false">
        <appender-ref ref="WARN_ERROR_LOG"/>
    </logger>

</configuration>